*{
  font-family: "Poppins",sans-serif;
}
body{
  background-color: #eeeeee;
}
.logo{
      position: relative;
    left: 3%;
    top: 10px;
}
.nav-bar{
  background-color: #0053E2;
  width: 100%;
  height: 55px;
  position: absolute;
}

.dash-container {
width: 50%;
    background: #FFF;
    padding: 24px;
    border-radius: 10px;
    height: 86vh;
    font-family: 'Segoe UI', sans-serif;
    margin-top: 71px;
    margin-left: 23px;
}

.dash-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dash-heading{
   color: #000;
   font-size: 20px;
   font-weight: 600;
   margin: 0;
}
.clock-btn {
  background: #eee;
  padding: 8px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.return-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

input[type="text"], textarea, input[type="file"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}
.flex-2{
  width: 50%;
}
textarea {
  resize: vertical;
}

button[type="submit"] {
background-color: #0053E2;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    width: 30%;
    margin-left: 32%;
    margin-top: 23px;
}

button[type="submit"]:hover {
  background-color: #0053E2;
  color: #FDBB30;
}
 .text-input{
   border-radius: 15px;
border: 1px solid rgba(0, 0, 0, 0.28);
background: #FFF;
 }
  .text-input-desc{
   border-radius: 6px;
border: 1px solid rgba(0, 0, 0, 0.28);
background: #FFF;
 }
.upload-container {
      display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 20px;
    width: 65%;
    margin-left: 29px;
}

.file-name {
  font-size: 14px;
   font-weight: 600;
  color: #000;
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.custom-file-upload {
    border: 1px solid rgba(0, 0, 0, 0.28);
    color: #878181;
    padding: 8px 9px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 400;
    font-size: 12px;
    transition: background 0.3s ease;
}

.custom-file-upload:hover {
  color: #FDBB30;
}

.inp-plc-hld{
  margin: 0;
  font-weight: 600;
  color: #000;
      position: relative;
    top: 11px;
}
.dash-body{
  display: flex;
}

.product-info-box{
    width: 93%;
    height: 150px;
    top: 70px;
    position: relative;
    background-color: #FFF;
    border-radius: 10px;
    left: 20px;
    padding: 20px;
}
.prod-box{
    width: 70%;
    height: 88px;
    overflow-y: hidden;
    background-color: #eeeeee;
    border-radius: 10px;
    top: 2px;
    position: relative;
    left: 8%;
}
.prod-name-specs{
    position: relative;
    left: 29%;
    width: max-content;
    font-weight: 600;
     font-size: 13px;
}
.prod-name-text{
    position: relative;
    left: 29%;
    width: max-content;
    font-weight: 600;
    font-size: 13px;
}
.prod-name-img{
    width: 76px;
    height: max-content;
    position: relative;
    top: 24px;
    left: 12px;
    background-color: #fff;
    border-radius: 10px;
}
.prod-img-box{
    width: 150px;
    height: 147px;
    position: relative;
    top: -96px;
}

.steps-container {
background-color: #fff;
border-radius: 12px;
    padding: 20px;
    width: 93%;
    height: 62vh;
    position: relative;
    top: 65px;
    margin: 19px;
}

.steps-heading {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #2c3e50;
  text-align: center;
}

.steps-list {
    padding-left: 1.5rem;
    line-height: 4.1;
    top: -2px;
    position: relative;
    left: 9px;
    font-size: 13px;
}

.steps-list-item {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  color: #34495e;
}
ul{
  list-style: none;
}
.background-shape {
    position: absolute;
    top: 78px;
    left: 19px;
    width: 23px;
    height: 287px;
    z-index: 0;
}
